<div class="page billiard">
  <div class="title">
    Billiards is a game for the perceptive and clever.
  </div>
  <img class='horizontal' src="https://static01.nyt.com/images/2014/03/06/multimedia/nyorkers-pool/nyorkers-pool-videoSixteenByNine1050.jpg" alt="" />
  <img class='horizontal' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSh_5KF7vbZRcMYViszh4GH25N2qpPFKHfD_fWlfXG6v5PZQKa" alt="" />
  <p class="description">
    Earl "The Pearl" Strickland (born June 8, 1961 in Roseboro, North Carolina) is an American professional pool player who is considered one of the best nine-ball players of all time. He has won numerous championship titles and, in 2006, was inducted into the Billiard Congress of America's Hall of Fame.[1] He is also known as one of the sport's most controversial players for his outspoken views and his sometimes volatile behavior at tournaments.
  </p>
</div>
