<div>

  <div class="tabs">
    <ul>
      <li ui-sref="root.home"><a>Home</a></li>
      <li><a ui-sref="root.football">Football</a></li>
      <li><a ui-sref="root.soccer">Soccer</a></li>
      <li><a ui-sref="root.basketball">Basketball</a></li>
      <li><a ui-sref="root.tennis">Tennis</a></li>
      <li><a ui-sref="root.baseball">Baseball</a></li>
      <li><a ui-sref="root.track">Track</a></li>
      <li><a ui-sref="root.billiards">Billiards</a></li>
      <li><a ui-sref="root.swim">Swim</a></li>
      <!-- <li><a></a></li>
      <li><a></a></li> -->
    </ul>
  </div>

</div>

<div class="ui-view">

</div>
