<div class="page swimming">
  <div class="title">
    Swimming
  </div>
  <img class='vertical' src="http://cdn-s3.si.com/images/Michael-Phelps-SI-cover-shoot-SI523_TK1_00272.jpg" alt="" />
  <p class='description'>
    Michael Phelps is currently the fastest swimmer in the world. He is an American former competitive swimmer and the most decorated Olympian of all time,[7] with a total of 28 medals. Phelps also holds the all-time records for Olympic gold medals (23),[8] Olympic gold medals in individual events (13), and Olympic medals in individual events (16).
  </p>

</div>
